body {
    background-color: #f16059;
    font: 14px/26px "Bungee", Helvetica, Arial, sans-serif;
    color: #222;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}
.page {
    width: 80%;
    max-width: 960px;
    margin: 50px auto;
    text-align: center;
    background-color: #f16059;
    border-radius: 5px;
}
header {
    font-size: 24px;
    line-height: 48px;
}
h4 {
    font-size: 21px;
    font-family: "Bungee", cursive;
}
h4 #clock{
    font-size: 36px;
    display: block;
    padding: 5px 0px;
}